div {
	text-align: center;
}

h1 {
	font-size: 50px;
	color: black;
	margin-top: 150px;
	margin-bottom: 150px;
}
h2 {
	font-size: 30px;
	color: black;
}

button {
	transition-duration: 0.4s;

	background-color: rgba(220, 220, 220, 0);
	border: 3px solid rgba(255, 255, 255, 0);

	display: block;
	/*竖排buttons*/
	margin: 0 auto;
	/*水平居中*/

	color: black;
	font-size: 16px;
	height: 50px;
	width: 500px;
	text-align: center;
	outline: none;
	/* border-bottom: none; */


}

hr {
	width: 90%;
	margin: 0 auto;
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

button:hover {
	background-color: rgba(236, 236, 236, 0.0);
	border: 2px solid rgba(0, 0, 0, 0.5);
}

button#btn0 {
	display: block;
}

button#btn1 {
	display: none;
}

button#btn2 {
	display: none;
}

p {
	text-align: left;
	font-size: 18px;
	text-indent: 2em;
	
	margin-left: 10%;
	margin-right: 10%;
}
